body{
display: flex; 
}

img {
    max-width:100%;
  }

#duck{
    margin:50px;
    width: 100px;
    height: 100px;
    position: absolute;
    left: 100px;
    top: 100px; 
    transition: transform 3s;
    transform: rotate(-90deg);
}

#duck:hover {
    transform: rotate(180deg);
}
#duck {
    animation-duration: 3s;
    animation-name: slidein;
  }
  
  @keyframes slidein {
    from {
      margin-left: 50%;
      width: 50%;
    }
  
    to {
      margin-left: 0%;
      width: 50%;
    }
  }
  

#duck2{
    margin:50px;
    width: 100px;
    height: 100px;
    position: absolute;
    left: 600px;
    top: 100px; 
    transition: transform 3s;
    transform: rotate(-90deg);
}

#duck2:hover {
    transform:translateY(20px);
}
#dog{
    margin:50px;
    width: 100px;
    height: 100px;
    position: absolute;
    left: 450px;
    top: 450px; 
}

#dog2{
    margin:50px;
    width: 100px;
    height: 100px;
    position: absolute;
    left: 650px;
    top: 450px; 
}

.scoreContainer{
    background-color: black;
    width: 100px;
    height:100px;
    color:#FFFFFF;
    top:5%;
    right:5%;
    border: 4px solid black;
    border-radius: 20px;
    display:flex;
    position:fixed;
    flex-direction:column;
    align-items:center;
  }

  #score-text{
    font-size:1.5em;  
  }

  #score-counter{
    font-size:3.1em;  
    font-weight:bold;
    color:#06E515;
  }