/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
}
body{
  display: flex;
  min-height: 100vh;
  }
  
  .container {
    position: relative;
    width: 100%;
    min-height: 100vh;
    background: url("https://bit.ly/2Q4q14a") center center no-repeat;
    background-size: cover;
    overflow: hidden;
  }

  [id^="duck-image"] {
    position: absolute;
    width: 34px;
    height: 24px;
    background: url('duck-hunt.png') no-repeat -130px -121px;
  }

  #dead-duck {
    position: absolute;
    width: 31px;
	  height: 29px;
    background: url('duck-hunt.png') no-repeat -131px -238px;
  }

  #falling-duck {
    position: absolute;
    width: 18px;
    height: 30px;
    background: url('duck-hunt.png') no-repeat -178px -237px;
  }

  #dog-image {
    position: absolute;
    background-attachment: fixed;
    top:80%;
    left: 1%;
    width: 53px;
    height: 40px;
    background: url('duck-hunt.png') no-repeat -5px -3px;
    animation: mymove 5s linear ;
  }

  @keyframes mymove {
    from {left:1%;}
      to {left:50%;}
  }

  #dog-image2 {
    position: absolute;
    z-index: 10;
    top:80%;
    left: 50%;
    width: 53px;
    height: 50px;
    background: url('duck-hunt.png') no-repeat -5px -56px;
    animation: jump 4s linear;
  }
  
  @keyframes jump {
    from {top:80%}
      to {top: 68%; left:55%;}
  }

  @keyframes fly {
    10%{left: 20%; bottom: 30%;}
    30%{left: 30%; bottom: 50%;}
    50%{left: 40%; bottom: 70%;}
    70%{left: 60%; bottom: 30%;}
    100%{left: 100%; bottom: 100%;}
  }
  

  
  .scoreContainer{
      background-color: black;
      width: 100px;
      height:100px;
      color:#FFFFFF;
      top:5%;
      right:5%;
      border: 4px solid black;
      border-radius: 20px;
      display:flex;
      position:fixed;
      flex-direction:column;
      align-items:center;
    }
  
    #score-text{
      font-size:1.5em;  
    }
  
    #score-counter{
      font-size:3.1em;  
      font-weight:bold;
      color:#06E515;
    }